In [4]:
import re
import json
import pandas as pd
# import datetime
import re
from collections import Counter
import numpy as np
import time
import math
import sys
quiz = pd.read_csv(filepath_or_buffer= "C:\\Users\\zhazhang\\Desktop\\GitHub\\quizzResult.csv")
data1 = pd.read_csv(filepath_or_buffer="C:\\Users\\zhazhang\\Desktop\\GitHub\\event_semester1.csv")
exam = pd.read_csv(filepath_or_buffer="C:\\Users\\zhazhang\\Desktop\\GitHub\\exam_result.csv")
data1 = (data1[data1['action'].isin(['Viewed'])])
quiz.score = quiz.score.map(lambda x: x*10)
exam['score'] = exam.score.map(lambda x: (x/18*100))
quiz['action'] = "Submitted"
event = pd.concat([data1[['userId','objectId','action','Timestamp']],quiz[['userId','objectId','action','Timestamp']]])
exam['action']='FinalExam'
exam['Timestamp'] = 1542835584754#1542835584754 # this is the right timestamp of exam
exam['objectId'] = 11209 # I faked an
event = pd.concat([event, exam[['userId','objectId','action','Timestamp']]])
event = event[event.Timestamp < 1542835584755] # here cut the data at the time just after exam.
"""
Here is the treat of event which add the correlated quiz and exam score 
"""
user_list = list(set(event['userId']))
next_score = []
quiz1 = list(set(quiz.objectId))[0]
quiz2 = list(set(quiz.objectId))[1]
exam_time = exam.iloc[0]['Timestamp']
user_quized = []
# print(len(user_list))
for i in user_list:
    if ((len(quiz[quiz.userId==i])) == 2) & (i in list(exam.userId)):
        #quiz=quiz[quiz.userId!=i]
        user_quized.append(i)
#print(len(user_list))
event = event[event.userId.isin(user_quized)]
#print(len(event))
for i in event.itertuples():
#     print(i)
    user = i.userId
    timestamp = i.Timestamp
    quiz1_time = event[(event.userId == user) & (event.objectId == quiz1)].Timestamp
    quiz2_time = event[(event.userId == user) & (event.objectId == quiz2)].Timestamp
    slot_1 = (-(timestamp-quiz1_time)).iloc[0]
    slot_2 = (-(timestamp-quiz2_time)).iloc[0]
    slot_e = -(timestamp-exam_time)
    l = [slot_1, slot_2, slot_e] 
    min0 = 10000000000

    for j in range(len(l)):
        if (l[j] >= 0) & (l[j]<min0):
            min0 = l[j]

    if min0 == l[0]:
        next_score.append(quiz[(quiz.userId==user)&(quiz.objectId==quiz1)].score.iloc[0])
    elif min0 == l[1]:
        next_score.append(quiz[(quiz.userId==user)&(quiz.objectId==quiz2)].score.iloc[0])
    elif min0 == l[2]:
        next_score.append(exam[(exam.userId==user)].score.iloc[0])
    else:
        next_score.append(exam[(exam.userId==user)].score.iloc[0])

event["nearest_score"] = next_score
event=event.sort_values(by='Timestamp', ascending=True)

In [9]:
resourceIndex = {8935: 0, 8936: 1, 316752: 2, 321242: 3, 321240: 4, 321237:5 }
event.sort_values(by='Timestamp', ascending=True)
l = list(resourceIndex.keys())
event1 = event[event["objectId"] == int(l[0])]
#or event["objectId"] == int(l[1]) or event["objectId"] == int(l[2]) or event["objectId"] == int(l[3]) or event["objectId"] == int(l[4]) or event["objectId"] == int(l[5]) or event["objectId"] == int(l[6])or event["objectId"] == int(l[7])or event["objectId"] == int(l[8]) or event["objectId"] == int(l[9])]
event2 = event[event["objectId"] == int(l[1])]
event3 = event[event["objectId"] == int(l[2])]
event4 = event[event["objectId"] == int(l[3])]
event5 = event[event["objectId"] == int(l[4])]
event6 = event[event["objectId"] == int(l[5])]
# event7 = event[event["objectId"] == int(l[6])]
# event8 = event[event["objectId"] == int(l[7])]
# event9 = event[event["objectId"] == int(l[8])]
# event10 = event[event["objectId"] == int(l[9])]
event = pd.concat([event1,event2,event3,event4,event5,event6])#event7,event8,event9,event10

In [6]:
(exam[exam.score>80])

     Unnamed: 0      userId       score     action      Timestamp  objectId
7             7   bailly88u   94.444444  FinalExam  1542835584754     11209
8             8   baleste2u   86.111111  FinalExam  1542835584754     11209
14           14   berrane2u   86.111111  FinalExam  1542835584754     11209
18           18     braux4u   84.722222  FinalExam  1542835584754     11209
28           28   comesse4u   86.111111  FinalExam  1542835584754     11209
31           31    debano2u   81.944444  FinalExam  1542835584754     11209
42           42    gonand2u   90.277778  FinalExam  1542835584754     11209
43           43    gonand2u   90.277778  FinalExam  1542835584754     11209
46           46   grebert5u   83.333333  FinalExam  1542835584754     11209
56           56  jacquin34u   83.333333  FinalExam  1542835584754     11209
79           79    marais8u   91.666667  FinalExam  1542835584754     11209
85           85  mekhilef3u   80.555556  FinalExam  1542835584754     11209
88           88   mogenot5u   90.277778  FinalExam  1542835584754     11209
97           97  poirot152u   83.333333  FinalExam  1542835584754     11209
115         115    signer1u   84.722222  FinalExam  1542835584754     11209
122         122    ulmann2u   80.555556  FinalExam  1542835584754     11209
129         129    wolter6u  100.000000  FinalExam  1542835584754     11209

In [ ]:
8935,8935,8935,8936, 316752,316752,,316752x,321242,321242,321242,321240,321240,321240x,321237,321237x,321237x

In [3]:
import numpy as np
from scipy.spatial.distance import euclidean
from fastdtw import fastdtw
import editdistance
print("distances of bailly88u (recommend legth is 9, real length is 18)")
x = np.array([8935,8935,8935,8936, 316752,316752,316752,321242,321242,321242,321240,321240,321240,321237,321237,321237])
y = np.array([8935,8935,8935,8936, 316752,316752,,316752x,321242,321242,321242,321240,321240,321240x,321237,321237x,321237x])
distance, path = fastdtw(x, y, dist=euclidean)
print("DTW distance:",distance)
print('DTW path:',path)
print("edit distance:",editdistance.eval('012235455', '010000045544444454') )

distances of bailly88u (recommend legth is 9, real length is 18)
DTW distance: 127078440.0
DTW path: [(0, 0), (0, 1), (0, 2), (1, 2), (2, 2), (3, 3), (4, 4), (4, 5), (5, 5), (6, 5), (6, 6), (7, 7), (7, 8), (7, 9), (7, 10), (8, 10), (9, 10), (10, 11), (10, 12), (11, 12), (12, 12), (12, 13), (13, 14), (14, 14), (15, 14), (15, 15), (15, 16)]
edit distance: 13

Students: bailly88u, marais8u, wolter6u

In [15]:
print(event[event.userId == "bailly88u"].sort_values(by="Timestamp" , ascending=True))

        userId  objectId     action      Timestamp  nearest_score
654  bailly88u    316752     Viewed  1537471142755        72.6191
658  bailly88u    316752     Viewed  1537472096755        72.6191
661  bailly88u      8935     Viewed  1537544057755        72.6191
16   bailly88u      8936  Submitted  1537553175755        72.6191
663  bailly88u      8935     Viewed  1537559570755        70.3703
673  bailly88u      8935     Viewed  1537560005755        70.3703
678  bailly88u    321237     Viewed  1537899072755        70.3703
680  bailly88u    321242     Viewed  1537899092755        70.3703
682  bailly88u    321240     Viewed  1538064936755        70.3703
685  bailly88u    321240     Viewed  1538134586755        70.3703

In [12]:
(event[event.userId == "signer1u"].sort_values(by="Timestamp" , ascending=True))

        userId  objectId     action      Timestamp  nearest_score
50    signer1u      8936  Submitted  1537700906755      89.285700
9716  signer1u      8935     Viewed  1537705705755      69.444400
9718  signer1u      8935     Viewed  1537707142755      69.444400
9719  signer1u      8935     Viewed  1537707266755      69.444400
9726  signer1u    321240     Viewed  1538403061755      84.722222
9738  signer1u    321240     Viewed  1538486510755      84.722222
9742  signer1u    321242     Viewed  1538486606755      84.722222
9750  signer1u    321242     Viewed  1539004790755      84.722222
9780  signer1u    321237     Viewed  1539594234755      84.722222

In [ ]:
print("real path of signer1u: 0,0,0,1,4,4,3,3,5")
print("real path of marais8u is: 0,1,5,4,4,5,5,5,2,3,5")

In [ ]:
print("distances of marais8u (recommend legth is 9, real length is 18)")
x = np.array([8935,8935,8935,8936, 316752,316752,316752,321242,321242,321242,321240,321240,321240,321237,321237,321237])
y = np.array([8935,8935,8935,8936, 316752,316752,,316752x,321242,321242,321242,321240,321240,321240x,321237,321237x,321237x])
distance, path = fastdtw(x, y, dist=euclidean)
print("DTW distance:",distance)
print('DTW path:',path)
print("edit distance:",editdistance.eval('012235455', '010000045544444454') )
0,1,5,4,4,5,5,5,2,3,5